@font-face{
  font-family: 'TitilliumTEST';
  src: url('/Cadena-de-valor/resources/fonts/TitilliumWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html, body, * { font-family: 'TitilliumTEST', sans-serif !important; }
